<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

 	<!-- Login Modal -->
 	<div th:fragment="loginModal" class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModalLabel" tabindex="-1">
	  <div class="modal-dialog modal-dialog-centered">
	   
	    <Form  class="modal-content" th:action="@{/}" method="post" th:object="${loginForm}">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" >Login</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	      		<div class="form-group mb-3">
	      			<label for="email" class="form-label">Email</label>
	      			<input class="form-control" id="email" th:field="*{email}"/>
	      			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
	      		</div>
	      		<div class="form-group mb-3">
	      			<label for="password" class="form-label">Password</label>
	      			<input class="form-control" type="password" id="password" th:field="*{password}"/>
	      			<div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	      		</div>
	      </div>
	      <div class="modal-footer d-flex flex-row justify-content-center">
	        <button class="btn btn-primary" type="submit" style="border-radius: 15px;">Login</button>
	      </div>   
	    </Form>
	    
	  </div>
	</div>
	
</html>