<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head('online shopping')"></head>
<body>
 	<!-- Header -->
	<div th:replace="fragments/header::header"></div>

	<div class="mx-auto w-75 my-4">
		<div class="row">
			<div class="col-3" th:each=" item : ${items} " th:object="${item}">			
				<div class="card m-2 border" style="border-radius: 15px;">
				  <img th:src="*{photoUrl}" class="card-img-top" style="height: 200px;border-radius: 15px 15px 0 0;">
				  <div class="card-body">
				    <p class="card-title" th:text="*{name}" style="height: 60px;"></p>
				    <div class="d-flex flex-row justify-content-center" style="align-item: center;">
				    	<i class="bi bi-dash-square h3 my-auto" style="cursor: pointer;"></i>
				    	<div class="my-auto mx-2">0</div>
				    	<i class="bi bi-plus-square h3 my-auto" style="cursor: pointer;"></i>
				    	
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>