<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head('online shopping')"></head>
<body>
 	<!-- msg reciever -->
 	<input id="err_msg" type="hidden" th:value="${err_msg}">
 	
 	<!-- Header -->
	<div th:replace="fragments/header :: header('[]')"></div>
	
	<div class="mx-auto w-75 my-4">
		<div id="hello" class="row">
			<div class="col-3" th:each=" item : ${items} " th:object="${item}">			
				<div class="card m-2 border" style="border-radius: 15px;">
				  <img th:src="*{photoUrl}" class="card-img-top" style="height: 150px;border-radius: 15px 15px 0 0;">
				  <div class="card-body">
				    <p class="card-title d-flex flex-row justify-content-start" th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')} + ' KS'" style="height: 60px;"></p>
				    <p class="card-title" th:text="*{name}" style="height: 60px;"></p>
				    <div class="d-flex flex-row justify-content-center" style="align-item: center;">
				    	<i class="bi bi-dash-square h3 my-auto minus" th:item-id="*{id}" th:item-name="*{name}" th:item-price="*{price}" style="cursor: pointer;"></i>
				    	<div th:qty-id="*{id}" class="my-auto mx-2">0</div>
				    	<i class="bi bi-plus-square h3 my-auto plus" th:item-id="*{id}" th:item-name="*{name}" th:item-price="*{price}" style="cursor: pointer;"></i>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div th:replace="fragments/modal/login_modal :: loginModal"></div>
	
	<!-- jquery -->
	<script th:replace="fragments/js/jquery_index :: jquery"> </script>
</body>
</html>