<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

 	<!-- Header -->
 	<div th:fragment="header(itemList)" class="bg-dark text-light">
 		<div class="mx-auto w-75 py-4 d-flex flex-row justify-content-between ">	
	 		<div>Shopify</div>
	 		<div class="d-flex flex-row items-center">
	 			<a th:href="@{/}" class="mx-3 text-light my-auto" style="text-decoration: none;">Home</a>
	 			<a th:href="@{/order}" class="mx-3 text-light my-auto" style="text-decoration: none;">Order</a>
	 			<form th:action="@{/create/order}" method="post" class="mx-3 position-relative">
	 				<!-- add to cart reciever input $("input[name='itemList']") -->
	 				<input type="hidden" name="itemList" th:value="${itemList}"/>
	 				<button class="btn btn-outline" type="submit">
	 					<i class="bi bi-cart3 h3 text-white"></i>
	 					<!-- $("#badgeCount") -->
	 					<span id="badgeCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    						0
  						</span>
  					</button>
  				</form>
	 		</div>
 		</div>
 	</div>
</html>