<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

 	<!-- Header -->
 	<div th:fragment="header(itemList)" class="bg-dark text-light">
 		<div class="mx-auto w-75 py-4 d-flex flex-row justify-content-between ">	
	 		<div>Shopify</div>
	 		<div class="d-flex flex-row items-center">
	 			<a th:href="@{/}" class="mx-3 text-light my-auto" style="text-decoration: none;">Home</a>
	 			<a th:href="@{/order}" class="mx-3 text-light my-auto" style="text-decoration: none;">Order</a>
	 			<form th:action="@{/create/order}" method="post" class="mx-3 position-relative">
	 				<!-- add to cart reciever input $("input[name='itemList']") -->
	 				<input type="hidden" name="itemList" th:value="${itemList}"/>
	 				<button class="btn btn-outline" type="submit">
	 					<span id="badgeCount" style="top: 10px;left: 0px;" class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
    						0
  						</span>
	 					<i class="bi bi-cart3 h3 text-white"></i>		
  					</button>
  				</form>
  				
  				<div th:if="${Auth == null}" onclick="$('#loginModal').modal('show')" class="my-auto d-flex flex-row text-white" style="margin-left: 40px;text-decoration: none;cursor: pointer;">
  					<i class="bi bi-person-circle h4 my-auto"></i>
  					<span class="my-auto" style="margin-left: 20px;">Login</span>
  				</div>
  				<div th:unless="${Auth == null}" class="my-auto d-flex flex-row text-white" style="margin-left: 40px;text-decoration: none;cursor: pointer;">
  					<span class="my-auto" th:text="${Auth.username}" style="margin-right: 20px;"></span>
  					<i class="bi bi-box-arrow-right"></i>
  				</div>
	 		</div>
 		</div>
 	</div>
</html>