<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.shopping.repository.ShopMapper">

	<resultMap type="com.online.shopping.entity.ItemEntity" id="itemResultMap">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<result column="price" property="price"></result>
		<result column="photo_url" property="photoUrl"></result>
		<result column="category_id" property="categoryId"></result>
	</resultMap>
	
	<select id="getAllItem" resultMap="itemResultMap">
		SELECT * FROM items;
	</select>
	
	<resultMap type="com.online.shopping.entity.UserEntity" id="userResultMap">
		<id column="id" property="id"></id>
		<result column="username" property="username"></result>
		<result column="email" property="email"></result>
		<result column="address" property="address"></result>
		<result column="role_id" property="roleId"></result>
	</resultMap>
	
	<select id="login" resultMap="userResultMap">
		SELECT id,username,email,address,role_id FROM users
		WHERE email=#{email} AND password=#{password}
	</select>
	
	<select id="isEmailSatisfy" resultType="boolean">
		SELECT 
		CASE WHEN COUNT(*) = 0 THEN TRUE
		ELSE FALSE END AS "is_email_satisfy"
		FROM users
		WHERE email = #{email}
	</select>
	
	<select id="getDivisions" resultType="com.online.shopping.entity.DivisionEntity">
		SELECT * FROM divisions;
	</select>
	
</mapper>